DATABASE_URL="postgresql://sa:<POSTGRES_PASSWORD>@127.0.0.1:15432/PeaTransformer?schema=public"
NEXTAUTH_URL=http://localhost:3000

# ใช้ค่าเดียวกับบน VPS หรือสร้างใหม่เฉพาะ local ก็ได้
NEXTAUTH_SECRET=<YOUR_LOCAL_OR_SERVER_SECRET>
