APP_PORT=3000
DB_PORT=5432
APP_IMAGE=ghcr.io/armboy122/vps-first-app:latest

POSTGRES_DB=PeaTransformer
POSTGRES_USER=sa
POSTGRES_PASSWORD=change-this-db-password

DATABASE_URL=postgresql://sa:change-this-db-password@db:5432/PeaTransformer?schema=public

NEXTAUTH_SECRET=change-this-nextauth-secret
NEXTAUTH_URL=https://peas3.shop
NEXT_PUBLIC_GENERATE_PDF=https://script.google.com/macros/s/AKfycbzMlQp7F8jI9v3nN1PSkV_laJ8BY66vLAheexB120jO5o7n8O8X0otZlHGCenOESvN61Q/exec
